<%= simple_form_for [@service] do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@service.errors.count, "error")} prohibited this  from being saved:" %>
      </h2>
      <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Edit
    ============================================= -->
  <section id="" class="services service singlepage">
    <div class="-wrap">
      <div class="clearfix  description">
        <h2 class="container">
          <%= t 'general.form.english' %>
          <div class="form-group">
            <h4>**<%= t 'general_content.form.allow_content_en' %></h4>
            <%= f.input :title_en, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :category_en, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :description_en, class: "form-control" %>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :body_en, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <%= t 'general.form.russian' %>
          <div class="form-group">
            <h4>**<%= t 'general_content.form.allow_content_ru' %></h4>
            <%= f.input :title_ru, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :category_ru, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :description_ru, class: "form-control" %>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :body_ru, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <h3><%= t 'services.owners' %></h3>
            <h4>
              <%= f.association :people, include_blank: false, :label_method => lambda { |person| "#{person.first_name_en} #{person.last_name_en}" } %>
            </h4>
          </div>
          <div class="form-group">
            <% if (f.object[:image_url].nil? || f.object[:image_url].empty?) && (f.object[:image].nil? || f.object[:image].empty? ) %>
              <h4>No existing images, please add an image via URL</h4>
            <% else %>
              Preview<br>
              <% if f.object[:image_url] %>
                <%= image_tag(@service.image_url.to_s) %>
              <% end %>
              <h4 class: "form-control">Add new image and ignore this one.</h4>
            <% end %>
          </div>
           <div class="field">
              <%= f.label :image %>
              <h4><%= f.file_field :image %></h4>
          </div>
          <div class="form-group">
            <h3>
              <%= f.input :image_url, class: "form-control"%>
            </h3>
          </div>
          <%= f.hidden_field :user, value: current_user %>
          <div class="form-group">
            <%= f.button :submit %>
          </div>
        </h2>
    </div>
  </section>
  <!-- # end -->
<% end %>