<!-- Page Title
 ============================================= -->
<section id="page-title">
 <div class="container clearfix">
   <h1>Edit Service</h1>
   <ol class="breadcrumb">
     <!-- /users/:user_id/services/ -->
     <%= link_to 'Back', services_path, 'data-turbolinks':false  %> |
     <li><%= link_to 'Home', root_path, "data-turbolinks":false %></li>
     <li><%= link_to 'Services', users_services_path, "data-turbolinks":false %></li>
   </ol>
 </div>
</section>
<!-- #page-title end -->
<%= render "services/form"  %>