

<!-- Page Title
  ============================================= -->
<section id="page-title">
  <div class="container clearfix">
    <h1><%= t 'services.title' %></h1>
    <ol class="breadcrumb">
      <li><%= link_to t('home.title'), root_path, "data-turbolinks":false %></li>
      <li class="active"><%= t 'services.title'  %></li>
    </ol>
  </div>
</section>
<!-- #page-title end -->

<!--
  ============================================= -->

<section id="" class="services sectionsubhome">
  <div class="-wrap">
    <div class="clearfix  description">
      <h2 class="container">
        <%= tf(@main_contents[1], :title) %>
      </h2>
    </div>
    <div class="sectionsearch clearfix ">
      <nav class="container navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <label for="searchwithin"><%= t 'services.search' %></label>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <%= form_with(url: services_path , method: 'get', local: true) do |form| %>
                  <%= form.label :q, t('general_content.search_for') %>
                  <%= form.text_field :q, id: 'q', value: params[:q] %>
                  <button type="submit" class="btn btn-default" placeholder="Search" id="searchwithin">
                    <%= t('general_content.submit') %>
                  </button>
                <% end %>
              </div>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <% @services.each.with_index(1) do |service, index| %>
      <%= ('<div class="clearfix rowofthree">').html_safe if (index == 1 || (index-1) % 3 == 0) %>
        <%= ('<div class="container bottommargin">').html_safe if (index == 1 || (index-1) % 3 == 0) %>
            <div class="col_one_third nobottommargin <%= "col_last" if index % 3 == 0 %>">
              <div class="feature-box media-box">
                  <%= link_to service_path(service), "data-turbolinks":false  do %>
                    <div class="fbox-media">
                      <% unless tf(service, :title).nil? %>
                        <% if service[:image_url].present? || service[:image].present?  %>
                          <%= image_tag(service.image_url.to_s, :width => 350, :height => 218, :crop => :scale, alt: 'Image')%>
                        <% else %>
                          <%= image_tag "services/1.jpg" %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="fbox-desc">
                      <h3><%= tf(service, :category) unless tf(service, :title).nil?  %> </h3>
                    </div>
                  <% end %>
              </div>
            </div>
        <%= "</div>".html_safe if index % 3 == 0 %>
      <%= "</div>".html_safe if index % 3 == 0 %>
    <% end %>
  </div>
  <!-- pagination -->
  <div class="clearfix rowofthree center">
    <div class="container ">
      <ul class="pagination">
        <div class="flickr_pagination">
          <br>
          <%= will_paginate  @services, :previous_label => '«', :next_label => '»',  "data-turbolinks":false %>
        </div>
      </ul>
    </div>
  </div>
</section>
<!-- #Conent end -->