    <!-- Page Title
      ============================================= -->
    <section id="page-title">
      <div class="container clearfix">
        <h1 class="left"><%= tf(@service, :title) %></h1>
        <ol class="breadcrumb">
          <!-- /users/:user_id/case_studies/:id/edit -->
          <li><%= link_to  t('home.title'), root_path, "data-turbolinks":false %></li>
          <li><%= link_to  t('services.title'), users_services_path, "data-turbolinks":false %></li>
          <li class="active"><%= tf(@service, :title) %></li>
        </ol>
      </div>
    </section>
    <!-- #page-title end -->

      <!-- Content
          ============================================= -->

        <section id="content" class="services service singlepage">
          <div class="content-wrap">
            <div class="clearfix  description">
              <h2 class="container"> <%= raw tf(@service, :description) %></h2>
            </div>

            <div class="clearfix rowofthree">
              <div class="container bottommargin topmargin article">

              <div class="col_two_third">
                 <h2><%= tf(@service, :title) %></h2>
                 <%= raw tf(@service, :body) %>
              </div>
              <div class="col_one_third col_last">
              <h3><%= t 'services.main_lawyer' %></h3>
                <div class="team">
                  <% @service.people.each do |person| %>
                    <%= link_to person_path(person), "data-turbolinks":false  do %>
                      <div class="team-image">                       <% if person[:profile_picture].present? %>
                          <%= image_tag(person.profile_picture.to_s, alt: "#{tf(person, :first_name)} #{tf(person, :last_name)}") %>
                        <% else %>
                          <%= image_tag "people/kuvatov.jpg" %>
                        <% end %>
                      </div>
                      <div class="team-desc">
                        <div class="team-title">
                          <h4><%= "#{tf(person, :first_name)} #{tf(person, :last_name)}" %></h4>
                          <h5><%= tf(person, :title) %></h5>
                    <% end %>
                          <ul>
                            <li>
                              <a href="mailto:#{tf(person, :email)}"> <%= tf(person, :email) %></a>
                            </li>
                            <li><%= person.telephone %></li>
                          </ul>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

           <!-- team title  -->
          <div class="clearfix rowofthree">
            <div class="container ">
            <h3><%= t 'services.other' %></h3>

            </div>
          </div>

            <% @services.each.with_index(1) do |service, index| %>
              <%= ('<div class="clearfix rowofthree">').html_safe if (index == 1 || (index-1) % 3 == 0) %>
                <%= ('<div class="container bottommargin">').html_safe if (index == 1 || (index-1) % 3 == 0) %>
                    <div class="col_one_third nobottommargin <%= "col_last" if index % 3 == 0 %>">
                      <div class="feature-box media-box active">
                          <%= link_to service_path( service), "data-turbolinks":false  do %>
                            <div class="fbox-desc">
                              <h3><%= tf(@service, :title) %> </h3>
                            </div>
                          <% end %>
                      </div>
                    </div>
                <%= "</div>".html_safe if index % 3 == 0 %>
              <%= "</div>".html_safe if index % 3 == 0 %>
            <% end %>
          </section>
        <!-- #content end -->
    <!-- # end -->