  ============================================= -->
<section id="" class="casestudies casestudy singlepage">
  <div class="-wrap">
    <div class="clearfix  description">
      <h2 class="container">
        <h2><%= t(".resend_confirmation_instructions") %></h2>

        <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, t(".resend_confirmation_instructions") %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </h2>
    </div>
  </div>
</section>

