<div class="conent">
  <h2><%= t(".title", resource: resource_class.model_name.human) %></h2>

  <section>
    <div class="-wrap">
      <div class="clearfix  description">
        <h2 class="container">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="field">
              <%= f.label :first_name %><br />
              <%= f.email_field :first_name, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :last_name %><br />
              <%= f.email_field :last_name, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :username %><br />
              <%= f.email_field :username, autofocus: true %>
            </div>

            <div class="field-">
              <%= f.input :email, required: true, autofocus: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>
                  <%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %>
                </p>
              <% end %>
            </div>
            <div class="field-">
              <%= f.input :password, autocomplete: "off", hint: t(".leave_blank_if_you_don_t_want_to_change_it"), required: false %>
            </div>
            <div class="field-">
              <%= f.input :password_confirmation, required: false %>
              <%= f.input :current_password, hint: t(".we_need_your_current_password_to_confirm_your_changes"), required: true %>
            </div>

            <!-- users/_form.html.erb -->
            <% if can? :assign_roles, @user %>
              <!-- role checkboxes go here -->
              <% role = User::ROLES[0] %>
              <%= check_box_tag "user[role][#{role}]", role, @user.role.include?(role.to_s), {:name => "user[role][]"}%>
              <%= label_tag "user_role_#{role}", role.to_s.humanize %><br />
            <% end %>

            <div class="actions">
              <%= f.button :submit, t(".update") %>
            </div>
          <% end %>

          <h3><%= t(".cancel_my_account") %></h3>

          <p><%= t(".unhappy") %> <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>

          <%= link_to t("devise.shared.links.back"), :back %>
        </div>
      </h2>
    </div>
  </div>
</section>