<section>
  <div class="-wrap">
    <div class="clearfix  description">
      <h2 class="container">
        <div class="container">
          <h4>
            <h2><%= t(".sign_up") %></h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="field">
                <%= f.input :first_name, required: true, autofocus: true %>
              </div>

              <div class="field">
                <%= f.input :last_name, required: true, autofocus: true %>
              </div>

              <div class="field">
                <%= f.input :username, required: true, autofocus: true %>
              </div>

              <div class="field">
                <%= f.input :email, required: true, autofocus: true %>
              </div>

              <div class="field">
                <%= f.input :password, required: true %>
              </div>

              <div class="field">
                <%= f.input :password_confirmation, required: true %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, t(".sign_up") %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </h4>
        </div>
      </h2>
    </div>
  </div>
</section>