<%= simple_form_for [@person] do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@person.errors.count, "error")} prohibited this  from being saved:" %>
      </h2>
      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Edit EN
    ============================================= -->
  <section id="" class="casestudies casestudy singlepage">
    <div class="-wrap">
      <div class="clearfix  description">
        <h2 class="container">
          <%= t 'general.form.english' %>
          <div class="form-group">
            <%= f.input :first_name_en, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :last_name_en, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :email_en, class: "form-control" %>
          </div>
          <div class="form-group">
            <label class="control-label tel required"> <%= '*Type '.upcase %>EN</label>
            <h4>
              <%= f.select :type_en, [['', nil ],['Partner', 'Partner',],['Lawyer', 'Lawyer']] %>
            </h4>
          </div>
          <div class="form-group">
            <%= f.input :title_en, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :banner_description_en, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :description_en , class: "form-control" %>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :main_body_en, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :member_en, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.input :quote_en , class: "form-control" %>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :practices_en, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :education_en, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :languages_en, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <!-- Edit RU
            ============================================= -->
          <%= t 'general.form.russian' %>

          <div class="form-group">
            <%= f.input :first_name_ru, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :last_name_ru, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :email_ru, class: "form-control" %>
          </div>
          <div class="form-group">
            <label class="control-label tel required"> <%= '*Тип '.upcase %>RU</label>
            <h4>
              <%= f.select :type_ru, [['', nil ],['партнер', 'партнер',],['Адвокат', 'Адвокат']] %>
            </h4>
          </div>
          <div class="form-group">
            <%= f.input :title_ru, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :banner_description_ru, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :description_ru , class: "form-control" %>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :main_body_ru, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :member_ru, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.input :quote_ru , class: "form-control" %>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :practices_ru, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :education_ru, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <div class="clearfix rowofthree">
            <div class="container bottommargin topmargin article">
              <div class="form-group">
                <%= f.input :languages_ru, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
              </div>
            </div>
          </div>
          <!-- Edit General IMGS*
            ============================================= -->
          <div class="form-group">
            <%= f.input :telephone, class: "form-control" %>
          </div>
          <div class="form-group">
            <%# f.input :type_ru, value: 'Hello', class: "form-control" %>
          </div>
          <div class="form-group">
            <% if (f.object[:profile_picture].nil? || f.object[:profile_picture].empty?)  %>
              <h4>No existing profile, please add an image</h4>
            <% else %>
              Preview<br>
              <% if f.object[:profile_picture] %>
                <%= image_tag(@person.profile_picture.to_s) %>
              <% end %>
              <h4 class: "form-control">Add new image and ignore this one.</h4>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :profile_picture %>
            <h4><%= f.file_field :profile_picture %></h4>
          </div>
          <div class="form-group">
            <% if (f.object[:banner_image].nil? || f.object[:banner_image].empty?)  %>
              <h4>No existing profile, please add an image</h4>
            <% else %>
              Preview<br>
              <% if f.object[:banner_image] %>
                <%= image_tag(@person.banner_image.to_s) %>
              <% end %>
              <h4 class: "form-control">Add new image and ignore this one.</h4>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :banner_image %>
            <h4><%= f.file_field :banner_image %></h4>
          </div>

          <div class="form-group">
            <%= f.button :submit %>
          </div>
        </h2>
    </div>
  </section>
  <!-- # end -->
<% end %>