

<!-- Page Title
  ============================================= -->
<section id="page-title">
  <div class="container clearfix">
    <h1><%= t 'people.title' %></h1>
    <ol class="breadcrumb">
      <li><%= link_to t('home.title'), root_path, "data-turbolinks":false %></li>
      <li class="active"><%= t 'people.title'  %></li>
    </ol>
  </div>
</section>
<!-- #page-title end -->

<!--
  ============================================= -->

<section id="content" class="people sectionsubhome">
  <div class="conent-wrap">
    <div class="container">
      <h3><%= t('people.partners') %></h3>
    </div>

    <!-- Partners -->
    <% @partners[0..3].each.with_index(1) do |partner, index| %>
      <%= ('<div class="clearfix rowoftwo">').html_safe if (index == 1 || (index-1) % 2 == 0) %>
        <%= ('<div class="container bottommargin">').html_safe if (index == 1 || (index-1) % 2 == 0) %>
          <div class="col_half nobottommargin <%= "col_last" if index % 2 == 0 %>">
            <div class="feature-box media-box">
              <%= link_to person_path(partner), "data-turbolinks":false  do %>
                <div class="fbox-media">
                  <% unless tf(partner, :title).nil? || tf(partner, :first_name).nil?%>
                    <% if partner[:image_url].present? || partner[:image].present?  %>
                      <%= image_tag(partner.image_url.to_s, alt: "#{tf(partner, :first_name)} #{tf(partner, :last_name)},  #{tf(partner, :title)}") %>
                    <% else %>
                      <%= image_tag "people/kuvatov.jpg" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="fbox-desc">
                  <% unless tf(partner, :first_name).nil? || tf(partner, :title).nil?  %>
                    <h3><%=  "#{tf(partner, :first_name)} #{tf(partner, :last_name)}" %></h3>
                    <h5><%=  tf(partner, :title) %></h5>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <%= ("</div>").html_safe if  (index % 2 == 0) %>
      <%= ("</div>").html_safe if (index % 2 == 0) %>
    <% end %>
  </div>
  <div class="content-wrap">
    <div class="container ">
      <h3><%= t('people.lawyers') %></h3>
    </div>
    <!-- Row of three -->
    <% @lawyers[0..5].each.with_index(1) do |lawyer, index| %>
      <%= ('<div class="clearfix rowofthree">').html_safe if (index == 1 || (index-1) % 2 == 0) %>
        <%= ('<div class="container bottommargin">').html_safe if (index == 1 || (index-1) % 3 == 0) %>
          <div class="col_one_third nobottommargin <%= "col_last" if index % 3 == 0 %>">
            <div class="feature-box media-box">
              <%= link_to person_path(lawyer.id), "data-turbolinks":false  do %>
                <div class="fbox-media">
                  <% unless tf(lawyer, :title).nil? || tf(lawyer, :first_name).nil?%>
                    <% if lawyer[:image_url].present? || lawyer[:image].present?  %>
                      <%= image_tag(lawyer.image_url.to_s,alt: "#{tf(lawyer, :first_name)} #{tf(lawyer, :last_name)}") %>
                    <% else %>
                      <%= image_tag "people/kuvatov.jpg" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="fbox-desc">
                  <h3><%=  "#{tf(lawyer, :first_name)} #{tf(lawyer, :last_name)}" %></h3>
                  <h5><%=  tf(lawyer, :title) %></h5>
                </div>
              <% end %>
            </div>
          </div>
        <%= "</div>".html_safe if index % 3 == 0 %>
      <%= "</div>".html_safe if index % 3 == 0 %>
    <% end %>
    </div>
  </div>
  <!-- pagination -->
  <div class="clearfix rowofthree center">
    <div class="container ">
      <ul class="pagination">
        <div class="flickr_pagination">
          <br>
          <%= will_paginate  @people, :previous_label => '«', :next_label => '»',  "data-turbolinks":false %>
        </div>
      </ul>
    </div>
  </div>
</section>
<!-- #Conent end -->