<!-- Page Title
 ============================================= -->
<section id="page-title">
 <div class="container clearfix">
   <h1>Create New Profile</h1>
   <ol class="breadcrumb">
     <!-- /users/:user_id/case_studies/ -->
     <%= link_to 'Back', people_path, 'data-turbolinks':false  %> |
     <li><%= link_to 'Home', root_path, "data-turbolinks":false %></li>
     <li><%= link_to 'Case Studies', people_path, "data-turbolinks":false %></li>
   </ol>
 </div>
</section>
<!-- #page-title end -->

<%= render "people/form" %>
