<!-- Page Title
    ============================================= -->
  <section id="page-title">
    <div class="container clearfix">
      <h1><%= tf(@person, :title) %></h1>
      <ol class="breadcrumb">
        <li><%= link_to t('home.title'), root_path, "data-turbolinks":false %></li>
        <li><%= link_to t('people.title'), root_path, "data-turbolinks":false %></li>
        <li class="active"><%= "#{tf(@person, :first_name)} #{tf(@person, :last_name)}" %></li>
      </ol>
    </div>
  </section>
  <!-- #page-title end -->

  <!-- Content
    ============================================= -->

  <section id="content" class="people lawyer singlepage">
    <div class="content-wrap">
      <div class="clearfix profile" style="background-image: url('<%= (@person.nil? || @person[:banner_image].nil?) ? ('http://puchkov-partners.herokuapp.com/assets/people/lawyer_background.jpg' ) : (@person.banner_image.url) %>');">
        <div class="container bottommargin topmargin ">
          <h2><%= "#{tf(@person, :first_name)} #{tf(@person, :last_name)}" %></h2>
          <h3><%= tf(@person, :title) %></h3>
          <h4><%= tf(@person, :banner_description).html_safe %></h4>
        </div>
      </div>

      <!-- lawyer description -->
      <div class="clearfix topmargin  lawyerdesc">
        <div class="container ">
          <%= tf(@person, :description).html_safe %>
        </div>
      </div>
      <!-- lawyer content -->
      <div class="clearfix topmargin ">
        <div class="container ">
          <div class="col_two_third">
            <%=  tf(@person, :main_body ).html_safe %>
          </div>
          <div class="col_one_third col_last">
            <%=  tf(@person, :member ).html_safe %>
          </div>
        </div>
      </div>

      <!-- Lawyer quote-->

      <div class="clearfix lawyerquote">
        <div class="container topmargin bottommargin">
          <blockquote><%=  tf(@person, :quote).html_safe %></blockquote>
        </div>
      </div>

      <!-- more content -->
      <div class="clearfix topmargin ">
        <div class="container ">
          <div class="col_two_third">
            <h4>Education</h4>
              <%=  tf(@person, :education).html_safe %>
          </div>
          <div class="col_one_third col_last">
            <h4>Practices</h4>
              <% unless @person.services.empty? %>
                <ul>
                  <% @person.services.each do |practice| %>
                    <li><%= tf(practice, :title) %>*</li>
                  <% end %>
                </ul>
                *Above are relations from services*</br>
              <% end %>
              **Here below is just plain text that will be removed:</br>
              <%=  tf(@person, :practices).html_safe %>**
            <h4>Languages</h4>
              <%=  tf(@person, :languages).html_safe %>
          </div>
        </div>
      </div>

      <!-- ANOTHER ROW -->

    </div>
  </section>
  <!-- #content end -->