

  <!-- Page Title
    ============================================= -->
  <section id="page-title">
    <div class="container clearfix">
      <h1><%= t 'home.title' %>, <%= "#{I18n.t('devise.registrations.welcome')}" %></h1>
      <ol class="breadcrumb">
        <li class="active"><%= t 'home.title' %></li>
      </ol>
    </div>
  </section>
  <!-- #page-title end -->

  <!-- Content
      ============================================= -->

    <section id="content" class="casestudies sectionsubhome">
      <div class="content-wrap">
        <div class="clearfix rowofthree">
          <div class="container bottommargin">
            <div class="col_one_third nobottommargin">
              <div class="feature-box media-box">
                <%= link_to users_case_studies_path, "data-turbolinks":false do %>
                  <div class="fbox-media"><%#image_tag "case_studies/1.jpg" %> </div>
                  <div class="fbox-desc">
                    <h5>
                      <%= I18n.t 'case_studies.title' %>
                    </h5>
                    <h3>
                      <%= tf(@main_contents.first, :title) %></h3>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col_one_third nobottommargin">
              <div class="feature-box media-box">
                <%= link_to users_services_path, "data-turbolinks":false do %>
                  <div class="fbox-media"><%# image_tag "case_studies/2.jpg" %> </div>
                  <div class="fbox-desc">
                    <h5>
                      <%= I18n.t 'services.title' %>
                    </h5>
                    <h3>
                      <%= tf(@main_contents[1], :title)%>
                    </h3>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col_one_third nobottommargin col_last">
              <div class="feature-box media-box">
                <%= link_to insights_path, "data-turbolinks":false do %>
                  <div class="fbox-media"><%# image_tag "case_studies/3.jpg" %> </div>
                  <div class="fbox-desc">
                    <h5>
                      <%= I18n.t 'insights.title' %>
                    </h5>
                    <h3>
                      <%= tf(@main_contents[2], :title)%>
                    </h3>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="container bottommargin">
            <div class="col_one_third nobottommargin">
              <div class="feature-box media-box">
                <%= link_to people_path, "data-turbolinks":false do %>
                  <div class="fbox-media"><%#image_tag "case_studies/1.jpg" %> </div>
                  <div class="fbox-desc">
                    <h5>
                      <%= I18n.t 'people.title' %>
                    </h5>
                    <h3>
                      <%= tf(@main_contents[3], :title)%>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col_one_third nobottommargin">
              <div class="feature-box media-box">
                <%= link_to root_path, "data-turbolinks":false do %>
                  <div class="fbox-media"><%# image_tag "case_studies/2.jpg" %> </div>
                  <div class="fbox-desc">
                    <h5>
                      Next model
                    </h5>
                    <h3>
                      Next Title
                    </h3>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col_one_third nobottommargin col_last">
              <div class="feature-box media-box">
                <%= link_to root_path, "data-turbolinks":false do %>
                  <div class="fbox-media"><%# image_tag "case_studies/3.jpg" %> </div>
                  <div class="fbox-desc">
                    <h5>
                      Next model
                    </h5>
                    <h3>
                      Next Title
                    </h3>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- ANOTHER ROW -->
      </div>
    </section>
    <!-- #content end -->