<h4 class="container">
  <ul>
    <% @users.each do |user| %>
      <ul>
        <li>Id: <%= user.id %></li>
        <li>Name: <%= user.first_name %></li>
        <li>Username: <%= user.username %></li>
        </br>
      </ul>
    <% end %>
  </ul>
</h4>