</br>
</br>
<h4 class="container">
  <%= "Id: #{@user.id}" %></br>
  <%= "#{@user.first_name} #{@user.last_name}" %></br>
  <%= "Email: #{@user.email}" %></br>
  <%= "Creation_date: #{@user.created_at.strftime('%b %d, %Y')}" %></br>
  Role or permissions: <%= (@user.role == "admin") ? "Admin" : "Editor" %>
</h4>
</br></br></br></br></br>