<section >
  <div class="-wrap">
    <div class="clearfix  description">
      <h2 class="container">
        <div class="container">
          <h4>
            <h2><%= t(".sign_in") %></h2>

            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <%= f.input :email, required: false, autofocus: true %>
                <%= f.input :password, required: false %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, t(".sign_in") %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </h4>
        </div>
      </h2>
    </div>
  </div>
</section>
