<%= simple_form_for [@main_content] do |f| %>
  <% if @main_content.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@main_content.errors.count, "error")} prohibited this  from being saved:" %>
      </h2>
      <ul>
        <% @main_content.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Edit ============================================= -->
  <section id="" class="casestudies casestudy singlepage">
    <div class="-wrap">
      <div class="clearfix  description">
        <h2 class="container">
          <div class="form-group">
            <%= t 'general.form.english' %>
            <%= f.input :title_en, class: "form-control" %>
          </div>
        </h2>
        <h2 class="container">
          <div class="form-group">
            <%= t 'general.form.russian' %>
            <%= f.input :title_ru, class: "form-control" %>
          </div>
        </h2>

      <div class="clearfix rowofthree">
        <div class="container bottommargin topmargin article">
          <div class="form-group">
            <%= f.button :submit %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- # end -->
<% end %>