<!-- Page Title
 ============================================= -->
<section id="page-title">
 <div class="container clearfix">
   <h1>Edit Main Content</h1>
   <ol class="breadcrumb">
     <!-- /users/:user_id/main_contents/ -->
     <li><%= link_to 'Home', root_path, "data-turbolinks":false %></li>
     <li><%= link_to 'Main Contents', root_path, "data-turbolinks":false %></li>
   </ol>
 </div>
</section>
<!-- #page-title end -->
<%= render "main_contents/form"  %>