

  <!-- Page Title
    ============================================= -->
  <section id="page-title">
    <div class="container clearfix">
      <h1>Main Contents</h1>
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path, "data-turbolinks":false %></li>
        <li class="active">Main Contents</li>
      </ol>
    </div>
  </section>
  <!-- #page-title end -->

  <!--============================================= -->

  <section id="" class="casestudies sectionsubhome">
    <div class="-wrap">
      <div class="clearfix  description">
        <h2 class="container">Nulla convallis sollicitudin erat. Nam adipiscing ullamcorper est. Sed id mauris quis erat malesuada tempus. Suspendisse tristique. Nam ut elit. Aenean vitae sem. Quisque diam. Praesent rhoncus hendrerit tortor.</h2>
      </div>
      <div class="sectionsearch clearfix ">
        <nav class="container navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <label for="searchwithin">Search Main Contents</label>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search" id="searchwithin">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
      <% @main_contents.each.with_index(1) do |main_content, index| %>
        <%= ('<div class="clearfix rowofthree">').html_safe if (index == 1 || (index-1) % 3 == 0) %>
          <%= ('<div class="container bottommargin">').html_safe if (index == 1 || (index-1) % 3 == 0) %>
              <div class="col_one_third nobottommargin <%= "col_last" if index % 3 == 0 %>">
                <div class="feature-box media-box">
                    <%= link_to main_content_path(main_content), "data-turbolinks":false  do %>
                      <div class="fbox-media">
                        <% if main_content[:image_url].present?  %>
                          <%= image_tag(main_content[:image_url], size: "349x218", alt: 'Image') %>
                        <% else %>
                          <%= image_tag "case_studies/1.jpg" %>
                        <% end %>
                      </div>
                      <div class="fbox-desc">
                      </div>
                    <% end %>
                </div>
              </div>
          <%= "</div>".html_safe if index % 3 == 0 %>
        <%= "</div>".html_safe if index % 3 == 0 %>
      <% end %>
    </div>
    <!-- pagination -->
    <div class="clearfix rowofthree center">
      <div class="container ">
        <ul class="pagination">
          <div class="flickr_pagination">
            <br>
            <%= will_paginate  @main_contents, :previous_label => '«', :next_label => '»',  "data-turbolinks":false %>
          </div>
        </ul>
      </div>
    </div>
  </section>
  <!-- #content end -->