<!-- Page Title
 ============================================= -->
<section id="page-title">
 <div class="container clearfix">
   <h1>Create New Main </h1>
   <ol class="breadcrumb">
     <!-- /users/:user_id/main_conents/ -->
     <%= link_to 'Back', user_case_studies_path(current_user), 'data-turbolinks':false  %> |
     <li><%= link_to 'Home', root_path, "data-turbolinks":false %></li>
     <li><%= link_to 'Main Contents', root_path, "data-turbolinks":false %></li>
   </ol>
 </div>
</section>
<!-- #page-title end -->

<%= render "main_conents/form" %>
