    <!-- Page Title
      ============================================= -->
    <section id="page-title">
      <div class="container clearfix">
        <h1 class="left"><%= tf(@case_study, :title) %></h1>
        <ol class="breadcrumb">
          <!-- /users/:user_id/case_studies/:id/edit -->
          <li><%= link_to t('home.title'), root_path, "data-turbolinks":false %></li>
          <li><%= link_to t('case_studies.title'), root_path, "data-turbolinks":false %></li>
          <li class="active"><%= tf(@case_study, :title) %></li>
        </ol>
      </div>
    </section>
    <!-- #page-title end -->

    <!-- 
      ============================================= -->

    <section id="" class="casestudies casestudy singlepage">
      <div class="-wrap">
        <div class="clearfix  description">
          <h2 class="container">
            <%= raw tf(@case_study, :description) %>
          </h2>
        </div>

        <div class="clearfix rowofthree">
          <div class="container bottommargin topmargin article">
            <h5 class="text-left"><%= time_tag @case_study.created_at.strftime('%F').to_date %></h5>
            <%= raw tf(@case_study, :body) %>
            </br></br>
            <h5 class="text-left"><%= tf(@case_study, :hashtag) %></h5>
          </div>
        </div>

         <!-- team title  -->
        <div class="clearfix rowofthree">
          <div class="container ">
          <h3><%= t 'case_studies.team' %></h3>

          </div>
        </div>

        <!-- team  -->
        <% unless @case_study.people.empty? %>
          <div class="clearfix rowofthree">
            <div class="container">
              <div class="col_one_third">
                <div class="team">
                  <%= link_to person_path(@case_study.people.first), "data-turbolinks":false  do %>
                    <div class="team-image">
                      <% if @case_study.people.first[:profile_picture].present? %>
                        <%= image_tag(@case_study.people.first.profile_picture.to_s, alt: "#{tf(@case_study.people.first, :first_name)} #{tf(@case_study.people.first, :last_name)}") %>
                      <% else %>
                        <%= image_tag "people/kuvatov.jpg" %>
                      <% end %>
                    </div>
                    <div class="team-desc">
                      <div class="team-title">
                        <h5><%= "#{tf(@case_study.people.first, :first_name)} #{tf(@case_study.people.first, :last_name)}" %></h5>
                        <h3><%= tf(@case_study.people.first, :title) %></h3>
                      </div>
                    </div>
                  <% end %>
                </div>
               </div>
              <% if @case_study.people.second %>
                <div class="col_one_third">
                  <div class="team">
                    <%= link_to case_study_path(@case_study.people.second), "data-turbolinks":false  do %>
                      <div class="team-image">
                        <% if @case_study.people.second[:profile_picture].present? %>
                          <%= image_tag(@case_study.people.second.profile_picture.to_s, alt: "#{tf(@case_study.people.second, :first_name)} #{tf(@case_study.people.second, :last_name)}") %>
                        <% else %>
                          <%= image_tag "people/kuvatov.jpg" %>
                        <% end %>
                      </div>
                      <div class="team-desc">
                        <div class="team-title">
                          <h5><%= "#{tf(@case_study.people.second, :first_name)} #{tf(@case_study.people.second, :last_name)}" %></h5>
                          <h3><%= tf(@case_study.people.second, :title) %></h3>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if @case_study.people.third %>
                <div class="col_one_third col_last">
                  <div class="team">
                    <%= link_to case_study_path(@case_study.people.third), "data-turbolinks":false  do %>
                      <div class="team-image">
                        <% if @case_study.people.third[:profile_picture].present? %>
                          <%= image_tag(@case_study.people.third.profile_picture.to_s, alt: "#{tf(@case_study.people.third, :first_name)} #{tf(@case_study.people.third, :last_name)}") %>
                        <% else %>
                          <%= image_tag "people/kuvatov.jpg" %>
                        <% end %>
                      </div>
                      <div class="team-desc">
                        <div class="team-title">
                          <h5><%= "#{tf(@case_study.people.third, :first_name)} #{tf(@case_study.people.third, :last_name)}" %></h5>
                          <h3><%= tf(@case_study.people.third, :title) %></h3>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <!-- Related cases title  -->
        <div class="clearfix rowofthree">
          <div class="container ">
          <h3><%= t 'case_studies.related' %></h3>

          </div>
        </div>

              <!-- Related cases -->
        <% unless @case_studies_filter.empty? %>
          <div class="clearfix rowofthree">
            <div class="container bottommargin">
              <div class="col_one_third nobottommargin">
                <div class="feature-box media-box">
                  <%= link_to case_study_path(@case_studies_filter[0]), "data-turbolinks":false  do %>
                    <div class="fbox-media"><%= image_tag "case_studies/1.jpg" %></div>
                    <div class="fbox-desc">
                      <h5><%= tf(@case_studies_filter[0], :title) %></h5>
                      <h3><%= tf(@case_studies_filter[0], :description) %></h3>
                    </div>
                  <% end %>
                </div>
              </div>
              <% if @case_studies_filter[1] %>
                <div class="col_one_third nobottommargin">
                  <div class="feature-box media-box">
                    <%= link_to case_study_path(@case_studies_filter[1]), "data-turbolinks":false  do %>
                      <div class="fbox-media"><%= image_tag "case_studies/2.jpg" %></div>
                      <div class="fbox-desc">
                        <h5><%= tf(@case_studies_filter[1], :title) %></h5>
                        <h3><%= tf(@case_studies_filter[1], :description) %></h3>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if @case_studies_filter[2] %>
                <div class="col_one_third nobottommargin col_last">
                  <div class="feature-box media-box">
                    <%= link_to case_study_path(@case_studies_filter[2]), "data-turbolinks":false  do %>
                      <div class="fbox-media"><%= image_tag "case_studies/3.jpg" %> </div>
                      <div class="fbox-desc">
                       <h5><%= tf(@case_studies_filter[2], :title) %></h5>
                       <h3><%= tf(@case_studies_filter[2], :description) %></h3>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <!-- ANOTHER ROW -->

      </div>
    </section>
    <!-- # end -->