<!-- Page Title
 ============================================= -->
<section id="page-title">
 <div class="container clearfix">
   <h1>Edit Insight</h1>
   <ol class="breadcrumb">
     <!-- /users/:user_id/insight/ -->
     <%= link_to 'Back', insights_path, 'data-turbolinks':false  %> |
     <li><%= link_to 'Home', root_path, "data-turbolinks":false %></li>
     <li><%= link_to 'Case Studies', root_path, "data-turbolinks":false %></li>
   </ol>
 </div>
</section>
<!-- #page-title end -->
<%= render "insights/form"  %>