    <!-- Page Title
      ============================================= -->
    <section id="page-title">
      <div class="container clearfix">
        <h1 class="left"><%= tf(@insight, :title) %></h1>
        <ol class="breadcrumb">
          <!-- /users/:user_id/insights/:id/edit -->
          <li><%= link_to t('home.title'), root_path, "data-turbolinks":false %></li>
          <li><%= link_to  t('insights.title'), root_path, "data-turbolinks":false %></li>
          <li class="active"><%= tf(@insight, :title) %></li>
        </ol>
      </div>
    </section>
    <!-- #page-title end -->

    <!-- 
      ============================================= -->

    <section id="" class="insights insight singlepage">
      <div class="-wrap">
        <div class="clearfix  description">
          <h2 class="container">
            <%= raw tf(@insight, :description) %>
          </h2>
        </div>

        <div class="clearfix rowofthree">
          <div class="container bottommargin topmargin article">
            <h5 class="text-left"><%= time_tag @insight.created_at.strftime('%F').to_date %></h5>
            <%= raw tf(@insight, :body) %>
            </br></br>
            <h5 class="text-left"><%= tf(@insight, :hashtag) %></h5>
          </div>
        </div>

        <!-- Related insights title  -->
        <div class="clearfix rowofthree">
          <div class="container ">
          <h3><%= t 'insights.related' %></h3>

          </div>
        </div>

              <!-- Related insights -->
        <% unless @insights_filter.empty? %>
          <div class="clearfix rowofthree">
            <div class="container bottommargin">
              <div class="col_one_third nobottommargin">
                <div class="feature-box media-box"><a href="insight.html">
                  <div class="fbox-media"><%= image_tag "insights/1.jpg" %></div>
                  <div class="fbox-desc">
                    <h5><%= tf(@insights_filter[0], :title) %></h5>
                    <h3><%= tf(@insights_filter[0], :description) %></h3>
                  </div>
                  </a> </div>
              </div>
              <% if @insights_filter[1] %>
                <div class="col_one_third nobottommargin">
                  <div class="feature-box media-box"><a href="insight.html">
                    <div class="fbox-media"><%= image_tag "insights/2.jpg" %></div>
                    <div class="fbox-desc">
                      <h5><%= tf(@insights_filter[1], :title) %></h5>
                      <h3><%= tf(@insights_filter[1], :description) %></h3>
                    </div>
                    </a> </div>
                </div>
              <% end %>
              <% if @insights_filter[2] %>
                <div class="col_one_third nobottommargin col_last">
                  <div class="feature-box media-box"><a href="insight.html">
                    <div class="fbox-media"><%= image_tag "insights/3.jpg" %> </div>
                    <div class="fbox-desc">
                     <h5><%= tf(@insights_filter[2], :title) %></h5>
                     <h3><%= tf(@insights_filter[2], :description) %></h3>
                    </div>
                    </a> </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <!-- ANOTHER ROW -->

      </div>
    </section>
    <!-- # end -->