<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="-Type" ="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
